<div class="view-login">
   <div class="container">
        <div class="about">
            <h3>Utilize nossa aplicação Trellinho e adicione notas com outras pessoas.</h3>
        </div>
        <div class="login">
            <img class="logo" src="../../../assets/img/logo.svg" alt="">
            <button (click)="authentication()">
                <img src="../../../assets/img/google-logo.svg" width="25">
                Entrar com o google
            </button>
        </div>
   </div>
</div>

<div class="demonstration" #animaElement>
    <h2 class="bottom" #aside>Sobre o Trellinho</h2>
    <div class="info">
        <div class="cards-demonstration">
            <p class="left" #aside>teste</p>
        </div>
        <div class="example-images">
            <img class="right phone" #aside src="../../../assets/img/phone-trellinho.svg" width="300"/>
            <img class="bottom example" #aside src="../../../assets/img/example.svg" width="600">
        </div>
    </div>
</div>