@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.view-login {
    background-color: #f1f1f1;

    .container {
        display: flex;
        max-width: 1000px;
        min-height: 100vh;
        margin: 0 auto;
        gap: 50px;

        @media (max-width: 1050px) {
            & {
                flex-direction: column;
                padding: 30px 0 0;
            }

        }

        .about {
            display: flex;
            align-items: center;
           
            h3 {
                color: #00c875;
                font-family: 'Inter', sans-serif;
                font-size: 45px;
                letter-spacing: -1px;
                text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
                animation: initialLeft 1s;
                animation-fill-mode: forwards;

                @media (max-width: 1050px) {
                    & {
                        text-align: center;
                        margin: 0 20px;
                    }
                    
                }
                
                @media (max-width: 750px) {
                    & {
                        font-size: 30px;
                    }
                    
                }

            }
    
        }
    
        .login {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 1050px) {
                & {
                  align-items: center;
                }

            }

            .logo {
                animation: initialBottom 1s;
                animation-fill-mode: forwards;

                @media (max-width: 1050px) {
                    & {
                      width: 250px;
                    }

                }

            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 50px 0 0;
                background-color: #dddddded;
                padding: 4px 0;
                border-radius: 50px;
                border: none;
                transition: 300ms;
                cursor: pointer;
                font-weight: 900;
                color: #000000a1;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.21);
                animation: initialRight 1s;
                animation-fill-mode: forwards;

                @media (max-width: 1050px) {
                    & {
                        padding: 3px 20px;
                    }
                    
                }

                &:hover {
                    transform: scale(1.03);
                    font-size: 12px;
                    background-color: #bebebeed;
                    box-shadow: none;
                }

                img {
                    margin: 0 10px 0 0;
                }

            }

        }

    }

}

.demonstration {
    background-color: #ffffff;
    transition: 300ms;
    padding: 50px 0;

    p {
        color: #ffffffaf;
        font-size: 20px;
        text-align: center;
        transition-delay: 200ms;
        margin: 0 0 20px 0;

        strong {
            color: #ffffff;
        }

    }

    h2 {
        text-align: center;
        font-size: 32px;
        padding: 0 0 20px 0;
        font-family: 'Inter', sans-serif;
        transition-delay: 100ms;

        @media (max-width: 750px) {
            & {
                font-size: 30px;
                margin: 0 10px 10px 10px;
            }

        }
    }

    .info {
        width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        @media (max-width: 1150px) {
            & {
                max-width: max-content;
                flex-direction: column;
                padding: 30px 0 0;
            }

        }

        .cards-demonstration {
            
            p {
                color: #ffffff71;
                text-align: left;
            }

            @media (max-width: 720px) {
                & {
                    width: 300px;
                    margin: 30px 0 0;
                }
    
            }
            
        }

        .example-images {

            .phone {
                position: absolute;
                z-index: 1000;
                transition-delay: 500ms;

                @media (max-width: 720px) {
                    & {
                        width: 200px;
                    }
        
                }
                
            }

            .example {
                transition-delay: 800ms;
                margin: 20px 0 0 100px;

                @media (max-width: 750px) {
                    & {
                        width: 350px;
                    }

                }
                
                @media (max-width: 500px) {
                    & {
                        margin-top: 50px;
                        width: 240px;
                    }

                }
               

            }

        }

    }

}

.actions {
    padding: 40px 0 0;

    .title, .subtitle {
        padding: 20px 0;
        text-align: center;
        color: #000000 !important;
    }

    .title {
        font-size: 32px;
        font-family: 'Inter', sans-serif;
        transition-delay: 100ms;
        color: #00c875 !important;
    }

    .subtitle {
        color: #000000af !important;
        font-size: 20px;
        text-align: center;
        transition-delay: 200ms;
        margin: -20px 0 10px 0;

        strong {
            color: #00c875;
        }

    }

    .actions-container {
        padding: 20px 0;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 150px;

        .cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .card {
                color: #000000 !important;
                box-shadow: 0 10px 40px 0 rgb(199 201 217 / 50%);
                max-width: 280px;
                padding: 20px;
                border-radius: 5px;
    
                .header-card {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0 0 15px 0;
    
                    .image-user {
                        width: 50px;
                        border-radius: 50%;
                    }
    
                }
    
                .body-card {
    
                    .content {
                        font-size: 12px;
                        text-align: justify;
                    }
    
                }
    
            }
    
        }

        .benefits {
            display: flex;
            flex-wrap: wrap;
            max-width: 540px;
            gap: 50px 10px;
            height: min-content;

            .advantage {
                min-width: 250px;
                text-align: center;
                border-radius: 10px;
                padding: 10px 50px;
                color: #000000 !important;
                box-shadow: 0 10px 40px 0 rgb(199 201 217 / 50%);
            }

        }        

    }

}

.animacao {
    background-color: #1b2622;
}