<div class="view-login">
   <div class="container">
        <div class="about">
            <h3>Utilize nossa aplicação Trellinho e adicione notas com outras pessoas.</h3>
        </div>
        <div class="login">
            <img class="logo" src="../../../assets/img/logo.svg" alt="">
            <button (click)="authentication()">
                <img src="../../../assets/img/google-logo.svg" width="25">
                Entrar com o google
            </button>
        </div>
   </div>
</div>

<div class="demonstration" #animaElement>
    <h2 class="bottom" #aside>Organize suas tarefas do dia a dia</h2>
    <p class="bottom" #aside>disponível para <strong>todos</strong> os dispositivos</p>
    <div class="info">
        <div class="cards-demonstration">
            <p class="left" #aside>Layout limpo de fácil utilização para todos os usúarios.</p>
        </div>
        <div class="example-images">
            <img class="right phone" #aside src="../../../assets/img/phone-trellinho.svg" width="300"/>
            <img class="right example" #aside src="../../../assets/img/example.svg" width="600">
        </div>
    </div>
</div>