<div class="view-login">
   <div class="container">
        <div class="about">
            <h3>Utilize nossa aplicação Trellinho e adicione notas com outras pessoas.</h3>
        </div>
        <div class="login">
            <img class="logo" src="../../../assets/img/logo.svg" alt="">
            <button (click)="authentication()">
                <img src="../../../assets/img/google-logo.svg" width="25">
                Entrar com o google
            </button>
        </div>
   </div>
</div>
<div class="teste-scroll" #animaElement>
    <div class="info">
        <p class="left" #aside>kk</p>
        <p class="right" #aside>sla</p>
    </div>
</div>