@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

.background-menu {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: #00000087;
    transition: .2s ease-out;
    z-index: 2000;

    &.background-active {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
    }

}

.hamburguer {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 30px;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2003;

    &.hamburguer-open {
        
        .grab {

            span {
                background-color: #ffffff;
                transform: rotate(45deg);

                &::before {
                    background-color: #ffffff;
                    top: 0;
                    transform: rotate(90deg);
                }
                
                &::after {
                    background-color: #ffffff;
                    bottom: 0;
                    transform: rotate(90deg);
                }

            }

        }

    }

    .grab {
        
        span {
            display: flex;
            position: relative;
            width: 35px;
            height: 5px;
            border-radius: 5px;
            background-color: #00c875;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 35px;
                height: 5px;
                border-radius: 5px;
                background-color: #00c875;
                transition: 400ms;
            }

            &::before {
                top: -10px;
            }
            
            &::after {
                bottom: -10px;
            }

        }

    }

}

.menu {
    background-color: #005230;
    position: absolute;
    top: -200px;
    left: -300px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    float: left;
    padding: 20px;
    border-radius: 0 50px 100px 0;
    transition: .2s ease-out;
    transition-delay: 100ms;
    z-index: 2001;

    &.open {
        background-color: #1b2622;
        top: 0;
        left: 0;
        border-radius: 0 10% 300px 0;
        box-shadow: 0 10px 40px 0 rgba(80, 81, 87, 0.336);
    
        .content-menu {
    
            nav {
        
    
                ul {
    
                    li {
                        opacity: 1;
                        transform: translateX(0);
                    }
    
                    li:nth-child(1) {
                        transition-delay: 200ms;
                    }
                    
                    li:nth-child(2) {
                        transition-delay: 600ms;
                    }
                    
                    li:nth-child(3) {
                        transition-delay: 1000ms;
                    }
                    
                    li:nth-child(4) {
                        transition-delay: 1400ms;
                    }
                    
                }
    
            }
    
        }
    
    }

    .content-menu {

        .data-user {
            display: flex;
            align-items: center;
            margin: 30px 0;
            gap: 20px;

            img {
                width: 70px;
                border-radius: 50%;
                box-shadow: 0 10px 40px 0 rgba(8, 8, 8, 0.349);
            
            }

            .login {
                color: #ffffff;

                span:nth-child(1) {
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    display: block;
                    max-width: 180px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                span:nth-child(2) {
                    color: #ffffffa9;
                    display: block;
                    max-width: 160px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

            }

        }

        nav {
    

            ul {

                li {
                    opacity: 0;
                    transform: translateX(50px);
                    transition: 500ms;

                    a {
                        display: flex;
                        align-items: center;
                        color: #ffffffc0;
                        padding: 7px 0;
                        font-size: 18px;

                        &:hover {
                            color: #ffffff;

                            span {
                                margin: 0 10px 0 0;
                                padding: 0px 5px;
                                background-color: #ffffff;
                                color: #00c875;
                                border-radius: 5px;
                            
                                svg {
                                    font-size: 16px;
                                    visibility: visible;
                                }

                            }

                        }

                        span {
                            transition: 200ms cubic-bezier(0, 0, 0.36, 1.21);
                        
                            svg {
                                font-size: 0;
                                visibility: hidden;
                            }

                        }

                    }

                }
                
            }

        }

    }

    
}

.content {

    .header {
        text-align: center;
        margin: 15px 0 0;

        img {
            width: 100px;
        }

    }

    h2 {
        text-align: center;
        color: #00c875;
        font-family: 'Inter', sans-serif;
        font-size: 30px;
        padding: 20px 0;
    }

    .form-notes {
        max-width: 900px;
        margin: 0 auto;
        position: relative;

        .image-background {
            position: absolute;
            right: 0;
            top: -40px;

            img {
                user-select: none;
                width: 460px;
                z-index: 1;
            }

        }

        .form-control {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 40px 0 0;
            max-width: 80%;
            animation: backInLeft;
            animation-duration: 2s;

            &:nth-child(2) {
                margin: 20px 0 0;
            }

            &:hover {
                .help {
                    opacity: 1;
                    transform: translateY(-33px);
                }
            }

            .help {
                position: absolute;
                right: 0;
                font-size: 12px;
                background-color: #005230;
                color: #ffffff;
                padding: 3px 10px;
                border-radius: 5px;
                transition: .6s;
                opacity: 0;

                &::after {
                    position: absolute;
                    right: 10px;
                    content: '';
                    width: 0; 
                    height: 0; 
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-top: 8px solid #005230;
                    
                    &:nth-child(2) {
                        z-index: 1001;
                    }

                }


            }
            
            input, textarea {
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                box-shadow: 0 10px 40px 0 rgba(53, 54, 58, 0.137);
                resize: none;
                z-index: 1000;
            }

            textarea {
                height: 150px;
            }

        }

        .radios {
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 20px 0 0;
            animation: backInLeft;
            animation-duration: 1s;
            

            .form-radio {

                input {
                    display: none;

                    &:checked ~ label {
                        color: #ffffff;
                        background-color: #00c875;

                        svg {
                            color: #ffffff;
                            margin: 0 10px 0 0;
                            font-size: 20px;
                        }

                    }

                }

                label {
                    display: flex;
                    align-items: center;
                    padding: 10px 20px;
                    border-radius: 5px;
                    background-color: #ececec;
                    color: #000000;
                    transition: 200ms;
                    user-select: none;
                    font-size: 14px;
                    font-weight: bold;
                    cursor: pointer;
                    box-shadow: 0 10px 40px 0 rgba(126, 128, 136, 0.37);

                    svg {
                        font-size: 25px;
                        margin: 0 10px 0 0;
                        color: #00c875;
                        transition: 200ms;
                    }

                }

            }

        }

        .submit {
            max-width: 80%;
            display: flex;
            justify-content: flex-end;

            button {
                padding: 3px 30px;
                border-radius: 50px;
                background-color: #00c875;
                color: #ffffff;
                font-size: 15px;
                border: none;
                cursor: pointer;
                margin: 20px 0 0;
                z-index: 2;
                transition: 200ms;
                

                &:hover {
                    animation: rubberBand;
                    animation-duration: 2s;
                    background-color: #005230;
                }

            }

        }

    }

}